# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Lambda Config - by default we don't want to check this in since it may have credentials and/or
# other sensitive data.
config.json
